/*mobile*/

.mq-mobile #block-menu-menu-menu-phong-thi-nghiem .content,
.mq-mobile #block-menu-menu-menu-to-chuc-chung-nhan .content,
.mq-mobile #block-menu-menu-menu-to-chuc-giam-dinh .content,
.mq-mobile #block-menu-menu-menu-phong-thi-nghiem-y-te .content {
  padding-left: 169px;
}

.mq-mobile .ten_cty {
  font-size: 10px;
  margin-left: 15px;
}
.mq-mobile #block-nice-menus-1 {
  display: none;
}
.mq-mobile .slide-title {
  bottom: 20px;
  color: #fff;
  font-size: 19px;
  left: 10px;
}
.mq-mobile #block-block-6 {
  margin-top: 0;
}
.mq-mobile #block-block-5 .uk-text-right {
  text-align: left !important;
}
.mq-mobile .allright {
  padding-left: 30px;
}
.uk-navbar-toggle {
  color: #fff;
  font-size: 28px;
}
#block-menu-menu-menu-chinh h2 {
  display: none;
}
#block-menu-menu-menu-chinh ul li a {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
  color: #ccc;
  display: block;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
#block-menu-menu-menu-chinh ul {
  margin: 0;
}
#block-menu-menu-menu-chinh ul li.first a {
  border: none;
  box-shadow: none;
}
.uk-offcanvas-bar {
  background: #0f233f;
}
.mq-mobile .language-switcher-locale-url {
  padding-left: 12px;
}

.page-taxonomy-term.mq-mobile .breadcrumb {
  font-size: 15px;
  height: 50px;
  line-height: 22px !important;
  padding-left: 10px;
}
.mq-mobile #page-title {
  padding-left: 10px;
}
.mq-mobile .allright {
  padding-left: 30px;
}
.mq-tablet .ten_cty {
  font-size: 23px;
}
.mq-tablet #block-nice-menus-1 {
  display: none;
}
.mq-mobile #block-search-form,
.mq-mobile #block-formblock-dang-ky,
.mq-tablet #block-search-form,
.mq-tablet #block-formblock-dang-ky {
  display: none;
}
.mq-tablet #block-menu-menu-menu-phong-thi-nghiem .content,
.mq-tablet #block-menu-menu-menu-to-chuc-chung-nhan .content,
.mq-tablet #block-menu-menu-menu-to-chuc-giam-dinh .content,
.mq-tablet #block-menu-menu-menu-phong-thi-nghiem-y-te .content {
  padding-left: 100px;
}
.mq-tablet .slide-title {
  font-size: 35px;
}
@media (width: 1024px) {
  #block-nice-menus-1 ul li a {
    padding-right: 30px;
  }
  #block-search-form #edit-search-block-form--2 {
    min-width: 200px !important;
  }
  #block-search-form #edit-submit {
    width: 140px;
  }
  .tinmoi a::after {
    display: none;
  }
}
@media (width: 800px) {
  .tinmoi a::after {
    display: none;
  }
  #block-views-tin-dao-tao-home-block .flex-caption a {
    font-size: 11px;
  }
}
@media (width: 768px) {
  .tinmoi a::after {
    display: none;
  }
  #block-views-tin-dao-tao-home-block .flex-caption a {
    font-size: 11px;
  }
}
.mq-tablet .tindaotao,
.mq-tablet #block-views-tin-dao-tao-home-block-1 h2,
.mq-tablet .tinmoi {
  font-size: 21px;
}
.mq-mobile #block-views-exp-taxonomy-tin-tuc-page-1 {
  display: none;
}
.uk-icon-chevron-circle-right {
  color: #275599 !important;
  float: left;
  font-size: 15px !important;
  padding-right: 5px;
  padding-top: 7px;
}
