.kinhgui{
    height: 83px;
}
.kg_left{
    height: 83px;
    width: 7%;
    float: left;
}
.phutrach{
    padding-top: 35px;
    height: 125px;
}
.dk_footer{
    clear:both;
}
.cuoi_ky{
    padding-top:15px;
}
.term_danhgia{
    padding-right:30px;
    float:left;
}
.term_danhgia input[type=checkbox]{
    margin-left: 40px;
    padding-right: 40px !important;
    float: left;
    margin-top: 20px;
}
.term_danhgia input[type=checkbox]:after{
    background-color:#fff;
}
#bang1,#bang1 tr,#bang1 td{
    border-collapse:collapse;
    padding:20px;
    border:1px solid #ccc;
}
.tieude_daotao{
    line-height: 25px;
    padding-left: 20px;
}
.tieude_daotao a{
    color: #000;
    font-size: 14px;
}
.tieude_daotao a:hover{
    color:red;
}
.uk-icon-caret-right{
    color:#299cca;
    font-size:18px;
    padding-right:5px;
}
/*.tindaotao:before{*/
/*    content: "\f0f6";*/
/*    font-family: FontAwesome;*/
/*    padding-right:5px;*/
/*}*/
.noidung_term{
    padding-left:40px;
}
.mota_tin{
    font-size: 14px;
    padding: 10px 0;
}
#views-exposed-form-danh-sach-dich-vu-1-page-2 .views-widget-sort-by{
    width:30%;
}
table th{
    background: #0f233f none repeat scroll 0 0 !important;
    border: 1px solid #e5e5e5;
    color: #fff !important;
    font-family: times new roman;
    font-size: 13px;
    padding: 8px 1px 8px 2px;
}
table td {
    /*border: 1px solid #e5e5e5 !important;*/
    color: #000;
    /*font-size:15px;*/
    padding: 8px 10px;
    vertical-align: middle;
}
#views-exposed-form-danh-sach-dich-vu-1-page-2,#views-exposed-form-danh-sach-dich-vu-1-page-3,#views-exposed-form-danh-sach-dich-vu-1-page-4,
#views-exposed-form-danh-sach-dich-vu-1-page-5{
    background: rgba(0, 0, 0, 0) url("../../../../images/boaweb/bg_search.png") no-repeat scroll left center;
    height: 210px;
    padding-left: 27px;
}
#edit-combine-wrapper input ,#edit-field-dichvu-vilas-value-wrapper input,#edit-field-dichvu-chuquan-value-wrapper input,
#edit-field-dichvu-khuvuc-tid-wrapper select
,#edit-field-dichvu-linhvuc-tid-wrapper select,#edit-field-dichvu-vicas-value-wrapper input,#edit-field-dichvu-vias-value-wrapper input,
#edit-field-dichvu-vilas-med-value-wrapper input,.views-widget-sort-by select{
    width:258px;
}
.uk-icon-chevron-circle-right{
    color: #275599 !important;
    float: left;
    font-size: 15px !important;
    padding-right: 5px;
    padding-top: 7px;
}
.view-danh-sach-dich-vu-1 .view-content{
    margin-top:26px;
}
.views-exposed-form .views-exposed-widget .form-submit {
    background: #275599 none repeat scroll 0 0;
    font-family: times new roman;
    font-size: 20px;
    height: 41px;
    margin-left: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    width: 174px;
}
#sidebar-right .region-sidebar-right{
    width:280px !important;
}
#block-menu-block-1 ul li a{
    font-size:14px;
}
#block-menu-block-1 ul li{
    border-bottom: 1px solid #ccc;
    line-height: 35px;
    list-style: outside none none;
}
#block-menu-block-1 ul{
   margin:0;
   list-style:none;
}
#block-menu-block-1 ul li:before{
    content: "\f0da";
    font-family: FontAwesome;
    padding-right:5px;
}
.field-name-field-chiase{
    margin-top:12px;
    float:left;
    margin-bottom: 30px;
}
#block-menu-block-1 ul li a{
    color:#000;
}
#block-menu-block-1 ul li a.active{
    color:#265599;
}
#block-nice-menus-1 ul li.active-trail{
    background: #285599 none repeat scroll 0 0 !important;
    box-shadow: 0 0 2px #ccc;
}
.pager li a, .item-list .pager li.pager-current {
  background: #0058a8 none repeat scroll 0 0 border-box;
  color: #666;
  font-size: 16px;
  padding: 6px 13px;
  text-shadow: none;
  color: white;
}
.field-name-field-noidung{
    font-size:13px;
    padding-top:15px;
}